* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f7ed;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 80%;
	aspect-ratio: 1 / 1;
}

#timer {
	height: 50%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#timer #inner-timer {
	width: 35%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background: #f1f7ed;
	display: flex;
	justify-content: center;
	align-items: center;
}
